<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body class="flex items-center justify-center min-h-screen bg-base-200">
    <div class="card w-96 bg-base-100 shadow-xl p-6">
      <h2 class="card-title text-center mb-4">Login</h2>
      <form action="/login" method="POST" class="flex flex-col gap-4">
        <!-- Username -->
        <label class="input input-bordered flex items-center gap-2">
          Username
          <input
            type="text"
            name="username"
            placeholder="Your username"
            class="grow"
            required
          />
        </label>

        <!-- Password -->
        <label class="input input-bordered flex items-center gap-2">
          Password
          <input
            type="password"
            name="password"
            placeholder="Your password"
            class="grow"
            required
          />
        </label>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-2 w-full">Login</button>
      </form>
    </div>
  </body>
</html>
