<!DOCTYPE html>
<html>
  <head>
    <title>Sales Agent Data</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 p-8">
      <%- include('./partials/totalProfits', { totalProfit }) %> <%-
      include('./partials/rolesProfits', { roleProfits }) %> <%-
      include('./partials/agentPerformance', { agentPerformance }) %> <%-
      include('./partials/leadProfits', { leadProfit }) %>
    </div>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get("token");
    </script>
  </body>
</html>
